.title {
  text-align: center;
  padding: 6px 0;
}

.flexGrow {
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
}

.twoMatrices {
  display: flex;
}

.twoMatricesOperators {
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftMatrix {
  flex-shrink: 0;
  flex-basis: 0;
  flex-grow: 1;
}

.rightMatrix {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  display: flex;
  justify-content: flex-end;
}

